.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 1200px;
  background: var(--white);
  padding: 110px 100px;
  border-radius: 27px;
  @media screen and (max-width: 1280px) {
    width: 95%;
    padding: 60px 80px;
    border-radius: 27px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 15px;
    border-radius: 16px;
  }
}

.logo {
  margin-bottom: 100px;
}

.title {
  margin-bottom: 100px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1280px) {
    margin-bottom: 45px !important;
  }

  .registration {
    display: flex;
    align-items: center;

    .registrationText {
      border-bottom: 1px solid transparent;
      @apply duration-200;
    }

    &:hover > .registrationText {
      border-bottom: 1px solid var(--gray-dark);
    }

    svg {
      width: 10px;
      height: 10px;
    }

    svg path {
      stroke: var(--white);
    }

    .arrow {
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

.buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1280px) {
    margin-top: 50px;
  }
}

.sendUs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: end;
  margin-top: 100px;
  margin-right: 100px;
  opacity: 0.5;
  color: var(--gray-dark);
}

.sendIcon {
  margin-right: 18px;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 60px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-bottom: 20px;
  }
}

.hidden {
  display: none;
}

.auth {
  margin-top: 20px;
}
