.wrapper {
  display: grid;
  grid-template-columns: 76px 1fr 200px;
  align-items: center;
  gap: 30px;

  .departName {
    padding: 3px 10px;
    border-radius: 20px;
    background: var(--graySilver);
    text-align: center;
  }
}
