.form {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;
  margin-top: 50px;

  > .uploadField {
    overflow: hidden;
    border-radius: 27px;
    width: 400px;
    height: fit-content;
    background: var(--white);

    .images {
      height: 400px;
      border-bottom: 1px solid var(--gray);
    }
  }

  > .fields {
    padding: 80px;
    background: var(--white);
    border-radius: 27px;
    margin-bottom: 30px;

    > .title {
      margin-bottom: 80px;
    }

    > .group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-bottom: 60px;
      align-items: flex-end;
    }

    > .buttons {
      margin-top: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: center;
    }
  }
}

.fixedCompanyName {
  font-weight: 500;
  font-size: 16.5269px;
  opacity: 0.4;
  color: var(--gray-dark);
  padding: 17px 30px;
  font-family: var(--font-family);
  border: 1px solid #00000020;
  border-radius: 12px;
}
