.wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;
  // position: relative;

  > .img {
    background: var(--white);
    border-radius: 27px;
    width: 400px;
    height: 400px;
  }
}
