.wrapper {
  @apply animate-fade;

  .newDepartment {
    display: none;
    @media screen and (max-width: 620px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      border: 2px solid var(--graySilver);
      border-radius: 16px;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .newDepartmentBtn {
      justify-content: center; 
      > div {
        width: 100%;
       justify-content: center; 
      }
    }
  }
}
