.form {
  width: 700px;
  background: var(--white);
  padding: 110px 100px;
  border-radius: 27px;

  .title {
    margin-bottom: 100px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .registration {
      display: flex;
      align-items: center;

      svg {
        width: 10px;
        height: 10px;
      }

      svg path {
        stroke: var(--white);
      }

      .arrow {
        transform: rotate(180deg);
        margin-left: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .buttons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
}

.hidden {
  display: none;
}