.form {
  padding: 80px;
  background: var(--white);
  border-radius: 27px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 990px;

  > .title {
    margin-bottom: 80px;
  }

  > .groupGender {
    margin-bottom: 60px;
    position: relative;

    > .gender {
      position: absolute;
      bottom: 6.3px;
      right: 10px;
    }
  }

  > .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 60px;
    margin-top: 50px;
    align-items: flex-end;
  }

  > .buttons {
    display: flex;
    justify-content: flex-end;
  }
}
