.button {
  @apply py-[18px] h-fit cursor-pointer text-[15px] font-bold leading-[20px] rounded-[12px] border-none text-center box-border inline-block;
}

.white {
  border: 1px solid #000000;
  color: var(--gray-dark);
  background: var(--white);
  opacity: 0.3;
}

.whiteBlack {
  border: 1px solid #000000;
  color: var(--gray-dark);
  background: var(--white);
}

.gray {
  color: var(--gray-light);
  background: var(--gray-dark);
  opacity: 0.3;
}

.blackWhite {
  color: var(--gray-light);
  background: var(--gray-dark);
}

.blackGray {
  color: var(--gray-light);
  background: var(--gray-dark);
  border: 1px solid #F6F6F6;
}

.s {
  @apply px-[30px] py-[8px] rounded-[10px];
}

.s {
  @apply px-[40px];
}

.m {
  @apply px-[50px];
}

.l {
  @apply px-[80px];
}

.x {
  @apply px-[110px];
}
