.form {
  width: 700px;
  background: var(--white);
  padding: 110px 100px;
  border-radius: 27px;

  .title {
    margin-bottom: 100px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .registration {
      display: flex;
      align-items: center;

      .registrationText {
        border-bottom: 1px solid transparent;
        @apply duration-200;
      }

      &:hover > .registrationText {
        border-bottom: 1px solid var(--gray-dark);
      }

      svg {
        width: 10px;
        height: 10px;
      }

      svg path {
        stroke: var(--white);
      }

      .arrow {
        margin-left: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .buttons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .passwordRecovery {
    @apply flex justify-center mt-[30px] cursor-pointer;
  }

  .containerEye {
    position: relative;

    .eye {
      width: 18px;
      position: absolute;
      bottom: 24px;
      right: 20px;
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}
