.wrapper {
  display: flex;
  align-items: center;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 100%;
margin-right: 10px;
    border: none;
    cursor: pointer;
  }

  .black {
    background-color: var(--black);
  }

  .transparent {
    background-color: none;
  }
}
