.white {
  background: var(--white);
  border: 1px solid var(--gray-dark);
  border-radius: 6px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: var(--gray-dark);
  padding: 3px 15px;
}

.black {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background: var(--gray-dark);
  border-radius: 33px;
  padding: 3px 15px;
}
