.header {
  position: relative;
  padding: 40px 55px 40px 70px;
  grid-template-columns: [start] 360px [endNavigation] 78px [startSearch] 730px [endSearch] 1fr [startUser] auto [end];
  @apply pb-[40px] grid items-center;

  > .logo {
    grid-column: start / endNavigation;
    @apply self-center cursor-pointer;
  }

  > .search {
    grid-column: startSearch / endSearch;
  }

  > .user {
    grid-column: startUser / endUser;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;

    > .userComponent {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--gray-light05);
      border-radius: 10px;
      width: 64px;
      height: 64px;

      svg path {
        @apply duration-200;
      }

      &:hover svg path {
        stroke: var(--gray-light05);
      }

      .notificationCircle {
        width: 8px;
        height: 8px;
        background-color: var(--lime);
        border-radius: 5px;
        position: absolute;
        top: 20px;
        right: 19px;
        color: var(--white);
      }

      .notificationCount {
        position: absolute;
        top: 5px;
        right: 5px;
        color: var(--gray-light05);
      }
    }

    .userImg {
      cursor: pointer;
      height: 64px;
      width: 64px;
      @apply duration-200;

      &:hover {
        opacity: 0.5;
      }
    }

    > a {
      cursor: pointer;
      display: flex;
      justify-content: center;
      > svg {
        width: 32px;
        height: 32px;
        fill: white;
      }
    }
  }
}
