.header {
  position: relative;
  padding: 40px 55px 40px 70px;
  grid-template-columns: [start] 360px [endNavigation] 78px [startSearch] 730px [endSearch] 1fr [startUser] auto [end];
  @apply pb-[40px] grid items-center;

  @media screen and (max-width: 1700px) {
    grid-template-columns: [start] 223px [endNavigation] 1fr [startUser] auto [end];
  }
  @media screen and (max-width: 768px) {
    padding: 30px 20px;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: [start] 110px [endNavigation] 1fr [startUser] auto [end];
  }

  > .logo {
    grid-column: start / endNavigation;
    @apply self-center cursor-pointer;
    @media screen and (max-width: 1280px) {
    }
  }

  > .search {
    grid-column: startSearch / endSearch;

    @media screen and (max-width: 1700px) {
      display: none;
    }
  }

  > .user {
    grid-column: startUser / endUser;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;

    .userImg {
      cursor: pointer;
      height: 64px;
      width: 64px;
      @apply duration-200;

      &:hover {
        opacity: 0.5;
      }
    }

    > a {
      cursor: pointer;
      display: flex;
      justify-content: center;
      > svg {
        width: 32px;
        height: 32px;
        fill: white;
      }
    }
  }
}
