$bar-width: 20%;

.layout {
	@apply relative;
	> div:nth-child(1), > div:nth-child(3) {
		@apply hidden lg:flex fixed top-0 bottom-0 overflow-y-auto;
		width: $bar-width;
		max-width: 350px;
	}

	> div:first-child {
		@apply bg-brown left-0 border-r border-r-gray-800;
	}

	> .center {
		@apply min-h-screen p-layout lg:mx-3;
		//margin: 0 $bar-width;
		@media (min-width: 1024px) {
			margin-left: $bar-width;
			margin-right: $bar-width;
		}
	}

	> div:nth-child(3) {
		@apply flex-col h-full justify-center bg-gray-300 text-center right-0 border-l border-l-gray-800;
	}
}
