//$bar-width: 20%;

.layout {
	@apply relative;
	> div:nth-child(1), > div:nth-child(3) {
		@apply hidden my:flex my:flex-col fixed top-0 bottom-0 overflow-y-auto w-72;
		//width: $bar-width;
		max-width: 350px;
	}

	> div:first-child {
		@apply bg-brown left-0 border-r border-r-gray-800;
	}

	//Если авторизованный пользователь
	> .auth {
		@apply my:mr-72;
	}

	> .center {
		@apply p-4 my:p-layout text-center my:ml-72;
		//margin: 0 $bar-width;
/*		@media (min-width: 768px) {
			margin-left: $bar-width;
			margin-right: $bar-width;
		}*/
	}

	> div:nth-child(3) {
		@apply flex-col h-full justify-center bg-gray-300 text-center right-0 border-l border-l-gray-800;
	}
}
