.wrapper {
  .headTitle {
    margin-bottom: 40px;
  }
  .header {
    display: grid;
    grid-template-columns: [start] auto auto auto [spaceStart] 1fr [spaceEnd] auto auto [end];
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;

    .all,
    .award,
    .nominee {
      display: flex;
      align-items: flex-start;
      cursor: pointer;

      .awardsCount {
        margin-top: 5px;
        margin-left: 10px;
      }
    }

    .all {
      grid-column: start / 2;
      @apply duration-200;

      &:hover {
        color: var(--gray-dark);

        .awardsCount {
          color: var(--gray-dark);
        }
      }
    }

    .award {
      grid-column: 2 / 3;
      @apply duration-200;

      &:hover {
        color: var(--gray-dark);

        .awardsCount {
          color: var(--gray-dark);
        }
      }
    }

    .nominee {
      grid-column: 3 / spaceStart;
      @apply duration-200;

      &:hover {
        color: var(--gray-dark);

        .awardsCount {
          color: var(--gray-dark);
        }
      }
    }

    .sort {
      cursor: pointer;
      grid-column: spaceEnd / 6;
    }

    .btn {
      grid-column: 6 / end;
      margin-left: 50px;
    }

    .active {
      cursor: pointer;
      color: var(--gray-dark);
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
    margin-bottom: 50px;
  }
}
