.wrapper {
  margin-bottom: 30px;

  .userWrapper {
    display: grid;
    align-items: center;
    grid-template-columns: [start] 70px [endLogo] 30px [startUser] 250px [endUser] 1fr [startDepart] 150px [endDepart] 1fr [startCount] auto [endCount] 1fr [startViewer] 200px [endViewer];
    background: var(--gray-dark);
    padding: 30px 75px;
    border-radius: 20px;

    &:nth-last-child(1) {
      margin-bottom: 0px;
    }

    .img {
      grid-column: start / endLogo;
    }

    .user {
      grid-column: startUser / endUser;
      cursor: pointer;

      .userTag {
        margin-top: 5px;
      }
    }

    .depart {
      grid-column: startDepart / endDepart;
    }

    .countAwards {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column: startCount / endCount;

      .union {
        margin-left: 10px;
        width: 15px;
      }
      > svg path {
        fill: var(--white);
      }
    }

    .viewerAward {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-column: startViewer / endViewer;

      .imgAward {
        border: 1px solid var(--white);
        background: var(--graySilver);
        border-radius: 100%;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        position: absolute;
      }

      .one {
        transform: translate(-30px, 0);
        z-index: 4;
      }
      .two {
        transform: translate(-60px, 0);
        z-index: 3;
      }
      .three {
        transform: translate(-90px, 0);
        z-index: 2;
      }
      .four {
        transform: translate(-120px, 0);
        z-index: 1;
      }

      .countIcon {
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background: var(--graySilver);
        border: 1px solid var(--white);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
        z-index: 5;
        // grid-column: startCountIcon / end;
      }

      .countIconDisabled {
        background: transparent;
        border: none;
      }
    }
  }
}
