.container {
  display: grid;
  grid-template-columns: 6fr 1fr auto;
  align-items: center;
  margin-bottom: 45px;

  .user {
    grid-column: 1 / 2;
  }

  > .title {
    margin-left: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--black);
  }

  > .department {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: var(--gray-dark);
  }

  > .editPanel {
    grid-column: 3 / 4;
    display: flex;
  }
}
