.wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;

  > .img {
    background: var(--white);
    border-radius: 27px;
    width: 400px;
    height: 400px;
  }

  > .awardDescription {
    background: var(--white);
    border-radius: 27px;
    padding: 75px;

    > .title {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 21px;

      > .header {
        font-size: 54px;
      }
    }

    > .description {
      padding-bottom: 75px;
      border-bottom: 1px solid #0000001a;
      margin-bottom: 30px;
    }

    > .criteria {
      margin-top: 30px;
    }

    > .date {
      margin-top: 65px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
