.calendar {
  border: none;
  padding: 5px 0px 5px 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  background: var(--white);

  > div {
    box-shadow: none !important;

    &.error {
      border: 1px solid var(--red);
    }

    &:hover {
      > div {
        border: none;
      }
    }

    > div {
      border: none;
      padding: 0px 0px;
    }
  }

  .icon {
    border-right: 2px solid var(--gray);
    padding-right: 10px;
  }
}
