.container {
    background: var(--white);
    padding: 80px 95px;
    border-radius: 27px;

    > .filter {
        width: fit-content;
        margin: 40px 0px 40px 0px;
        cursor: pointer;
    }
}