.container {
  background: var(--white);
  padding: 80px 95px;
  border-radius: 27px;
  margin-bottom: 30px;
  @apply animate-fade;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    > .filter {
      width: fit-content;
      cursor: pointer;
    }
  }

  > .userList {
    margin-top: 70px;
  }
}
