.wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;
  margin-top: 85px;

  > .content {
    grid-column: 2 / 3;

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    > .usersAwarded {
      background: var(--white);
      padding: 100px 60px;
      border-radius: 27px;
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
    }
    > .none {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
}
