.selectContainer {
	position: relative;
}

.error {
	position: absolute;
	bottom: -30px;
	color: var(--red);
	font-weight: 700;
}

.custom-select__control {
	padding: 20px 20px;
}

// .selectContainer {
// 	@apply relative animate-fade;

// 	> label {
// 		@apply block;

// 		> span {
// 			@apply text-xs uppercase text-gray-600 block mb-1;
// 		}
// 	}
// }
