.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;
  width: 1200px;
  background: var(--white);
  padding: 110px 100px;
  border-radius: 27px;
  @media screen and (max-width: 1280px) {
    width: 95%;
    padding: 60px 80px;
    border-radius: 27px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 15px;
    border-radius: 16px;
  }
}

.logo {
  margin-bottom: 100px;
}

.title {
  margin-bottom: 100px !important;
  margin-top: 30px !important;

  @media screen and (max-width: 1280px) {
    margin-bottom: 45px !important;
  }
}

.buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1280px) {
    margin-top: 50px;
  }
}

.sendUs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: end;
  margin-top: 100px;
  margin-right: 100px;
  opacity: 0.5;
  color: var(--gray-dark);
}

.sendIcon {
  margin-right: 18px;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 60px;
  align-items: flex-end;
}

.hidden {
  display: none;
}
